
.style-1{
    background-color:#41aaa2;
     height:400px;
      width:400px;
       border-radius:30px;
        text-align:center;
}
.style-2{
    text-align:center; padding-top:30px; color:#ffffff;
}